* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

main {
  background-image: url("../img/shapes-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .my-logo {
  padding-left: 24px;
  color: #4255ff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}

section ul {
  margin-top: 12px;
  display: flex;
  gap: 20px;
}

header nav ul {
  display: none;
}

.fa-bars {
  margin-right: 24px;
  color: #6070ff;
}

.section-top {
  margin: 0 24px 136px 24px;
  padding-top: 128px;
  padding-bottom: 138px;
}

.section-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  word-wrap: break-word;
}

.about-myself-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  word-wrap: break-word;
}

section p {
  margin-top: 12px;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

section .main-text {
  color: #293eff;
  margin-top: 12px;
}

.projects {
  justify-content: center;
  margin: 114px 0;
  display: grid;
  gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  margin: 1px 24px;
}

.card-image {
  width: 100%;
}

.card-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-top: 12px;
}

.card-info {
  margin: 8px 0;
  display: flex;
  gap: 20px;
}

.card-info span {
  font-size: 12px;
  line-height: 24px;
  color: #6b778c;
  font-weight: normal;
}

.card-info span:first-child {
  color: #344563;
  font-weight: 500;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
  gap: 8px;
}

.tag {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #1f35ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.btn-lg {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.btn-project {
  color: #396df2;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  padding: 12px;
  margin-top: 14px;
}

.btn-project:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #7f8cff;
}

.btn-project:active {
  color: #fff;
  background-color: #2230d2;
}

.about-myself {
  background-color: #fff;
  padding-top: 114px;
  border-top-right-radius: 80px;
}

.about-myself-content {
  margin: 0 24px 48px 24px;
}

.about-myself-content .section-title {
  padding-top: 114px;
}

.about-myself-content #skills-margin {
  margin-top: 48px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
}

.languages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lg-dropdown p {
  padding-left: 16px;
}

.skills p {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.about-myself .skills p {
  margin-top: 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  line-height: 24px;
}

.lg-dropdown-description {
  display: flex;
  background-color: #f7f7f9;
  padding: 12px 9px 12px 9px;
}

.lg-dropdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skills-border {
  border-bottom: 1px solid #dfe1e6;
  padding-top: 23px;
  padding-bottom: 23px;
}

.fa-chevron-down,
.fa-chevron-right {
  padding-right: 30px;
  color: #acb7c3;
}

.contact-section {
  padding-top: 113.85px;
  background-color: #fff;
}

.contact {
  background-image: url("../img/contact-form-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 147px 21px;
  background-color: #4255ff;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 45px;
  border-top-left-radius: 80px;
}

.contact h2 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  padding-top: 103px;
  padding-bottom: 25px;
}

.contact h3 {
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  line-height: 52px;
  text-align: center;
  padding-top: 103px;
  padding-bottom: 25px;
}

.contact-section-text-content {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 58px;
}

input,
textarea {
  padding: 15px 38px 15px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  color: #172b4d;
  resize: none;
  font-family: sans-serif;
}

@media screen and (min-width: 992px) {
  header nav {
    display: flex;
  }

  header .my-logo {
    margin-left: 154px;
  }

  header nav .fa-bars {
    display: none;
  }

  header nav ul {
    display: flex;
    gap: 52px;
    padding-right: 154px;
  }

  header nav ul li a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .card {
    display: grid;
    grid-template-columns: auto auto;
    padding: 24px;
    justify-content: center;
  }

  .card-content {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
  }

  .section-top {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 90vw 74vh;
    padding: 70px 200px 207px 200px;
  }

  .section-top h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .section-top p {
    font-size: 20px;
    line-height: 28px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .about-myself {
    display: flex;
    padding: 10rem;
    justify-content: center;
    flex-direction: row;
  }

  .about-myself .section-title {
    padding: 0;
  }

  .skills .fa-chevron-down,
  .skills .fa-chevron-right {
    padding-right: 0;
  }

  .languages {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .lg-dropdown {
    flex-direction: row;
  }

  .skills-container {
    width: 100%;
  }

  .lg-dropdown-description {
    flex-direction: column;
    border-radius: 2px;
  }

  .lg-dropdown-description img {
    width: 48px;
    height: 48px;
  }

  .lg-dropdown-description p {
    padding-left: 5px;
  }

  .skills-border {
    padding-top: 0;
  }

  .contact {
    background-image: url("../img/footer-desktop.png");
    background-position: center;
    border-top-left-radius: 150px;
    padding: 142px 24px 127px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swap {
    order: -1;
  }

  form {
    align-items: center;
    width: 40%;
  }

  .card-image {
    width: 544px;
    height: 448px;
  }

  input,
  textarea {
    padding: 15px 38px 15px 16px;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    font-size: 17px;
    line-height: 20px;
    font-weight: normal;
    color: #172b4d;
    resize: none;
    font-family: sans-serif;
    width: 100%;
  }

  .contact-section-text-content {
    width: 43%;
  }

  .my-logo:hover {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: 2;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(45deg);
      color: rgb(158, 77, 77);
    }

    50% {
      transform: rotate(90deg);
      color: green;
    }

    75% {
      transform: rotate(135deg);
      color: yellow;
    }

    100% {
      transform: rotate(180deg);
      color: magenta;
    }
  }
}
