/* Primary Text */


position: static;
width: 920px;
height: 122px;
left: 0px;
top: 0px;

/* Header / 1 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
/* or 125% */

display: flex;
align-items: center;
letter-spacing: 0.37px;

/* Theme 1 / Neutrals 1 */

color: #091E42;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;